* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  /* Flexbox Container */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  background: #eaeaea;
  padding: 20px;
}
nav .logo {
  display: flex;
  align-items: center;
  width: 30vw;
  height: 100%;
  font-family: Roboto;
  font-size: 2.5rem;
  font-weight: 900;
  padding-left: 1rem;
}
nav .nav-links {
  width: 30vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .nav-links li {
  padding: 0 8px;
  list-style: none;
}
nav .nav-links li a {
  text-decoration: none;
  color: #444;
}
.btn {
  display: none;
}
/* Main */
main {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .card {
  background: #f9f9f9;
  padding: 20px;
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
}
main .card img {
  display: block;
  margin: 0 auto;
  width: 60%;
}

main h3 {
  margin: 1rem;
}

@keyframes color {
  0% {
    color: rgb(174, 174, 184);
  }

  20% {
    color: rgb(96, 96, 100);
  }

  40% {
    color: rgb(47, 47, 63);
  }

  60% {
    color: rgb(47, 47, 63);
  }

  80% {
    color: rgb(96, 96, 100);
  }

  100% {
    color: rgb(238, 36, 36);
  }
}

#kompensator {
  animation: color .3s;
  animation-iteration-count: infinite;
}
/* Breakpoints */

@media (max-width: 921px) {
  nav .logo {
    margin-right: 10px;
  }
  nav .nav-links {
    display: none;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main .card {
    width: 100%;
  }
}
