* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: grey;
}
/* ===============HEADER=============== */
.header {
  height: 10vh;
  width: 100%;
  background-color: grey;
  overflow: hidden;
  border-bottom: 1px solid red;
}

.logo {
  float: left;
  height: 100%;
}

.logo img {
  height: 100%;
}

.navigation {
  height: 100%;
}

.logo p {
  color: white;
  font-size: 3.5rem;
  margin-left: 1rem;
}

.navigation ul li {
  float: right;
  margin: 2.5vh;
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(189, 186, 186);
  font-size: 4vh;
  transition: 500ms;
  padding: 3vh;
}
a:hover {
  color: whitesmoke;
}

/* ===============MAIN=============== */
.main {
  height: 79.5vh;
  background-image: url(wand.jpg);
}

.main h1,
h2 {
  text-align: center;
  color: rgb(87, 75, 75);
  margin-bottom: 2rem;
}

.main h1 {
  padding: 10px 10px;
  font-size: 3rem;
  text-decoration: overline underline;
}

.main p {
  padding: 0 2rem 1rem 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(87, 75, 75);
}
.dick {
    font-weight: 900;
    text-decoration: underline;
    text-align: center;
}

.main span {
  font-style: italic;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.main-left {
  background-image: url(essen.jpg);
  background-repeat: no-repeat;
  width: 25vw;
  height: 79.5vh;
  object-fit: cover;
}

.main-middle {
    width: 70vw;
    height: 80vh;
    overflow: auto;
}

.main-right {
  background-image: url(essen2.jpg);
  background-repeat: no-repeat;
  width: 25vw;
  height: 79.5vh;
  object-fit: cover;
}
/* ===============FOOTER=============== */
.footer {
  height: 10%;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid red;
}

.footer-right {
  margin: 0 2rem;
}

.footer-left {
  margin: 0 2rem;
}

.footer p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  color: darkgrey;
}
